 
@media screen and (max-width: 1024px) {
    .all-filter-container {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .filter-select {
      margin-bottom: 10px;
    }
  }
   